pyqt6==6.5.0
selenium==4.9.1
webdriver-manager==3.8.6
SpeechRecognition==3.10.0
pyttsx3==2.90
markdown==3.4.3
PyQtWebEngine==5.15.6
PyOpenGL==3.1.6
numpy==1.24.3
opencv-python==4.8.0.74
trimesh==3.22.1
cairosvg==2.7.0
pillow==10.0.0 
